body {
    color: rgb(248, 240, 255);
    background-color: rgb(36, 36, 36);
}

.intro {
    font: normal 15px Arial;
    text-align: center;
}

h1 {
    color:rgb(196, 132, 255)
}

.projetos {
    font: normal 15px Arial;
    text-align: center;
}

h2 {
    color:rgb(196, 132, 255)
}

.skills {
    font: normal 15px Arial;
    text-align: center;
}

.fotografia {
    font: normal 15px Arial;
    text-align: center;
}

h3 {
    color:rgb(196, 132, 255)
}

.linkfotografia {
    color: rgb(243, 218, 255);
    text-decoration: none;
}

.contato {
    font: normal 16px Arial;
    text-align: center;
}

h4 {
    color:rgb(196, 132, 255)
}

li {
    list-style:none
}

.links {
    color: rgb(243, 218, 255);
}
